#* @vtlvariable name="action" type="com.bearychat.actions.ViewSpaceConfigurationAction" *#
#requireResource("confluence.web.resources:space-admin")

<html>
<head>
    <title>BearyChat Configuration</title>
    <meta name="decorator" content="atl.general"/>
</head>
    #applyDecorator("root")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("context" "space-administration")
    #decoratorParam("mode" "view-space-administration")

    #applyDecorator ("root")
    #decoratorParam ("context" "spaceadminpanel")
    #decoratorParam ("selection" "bearychat-space-configuration")
    #decoratorParam ("title" "BearyChat Configuration")
    #decoratorParam ("selectedTab" "admin")
    #decoratorParam ("selectedSpaceToolsWebItem" "bearychat-space-configuration-2")
    #decoratorParam("helper" $action.helper)

<body>

<form id="bearychat-form" action="doconfigure-bearychat.action" method="post"
      class="aui edit-space-details">
    <h2>BearyChat Configuration</h2>

    #form_xsrfToken()
    <input type="hidden" name="key" value="$generalUtil.urlEncode($action.key)" />
        #if($actionErrors && $actionErrors.size() > 0)
        <div class="aui-message error">
            <span class="svg-icon error size-18"></span>
            <strong>$action.getText("errors.occurred")</strong>
            <ul>
                #foreach($error in $actionErrors)
                    <li>$error</li>
                #end
            </ul>
        </div>
        #end
        #if($action.successFullUpdate)
            <div class="aui-message success shadowed closeable">
                <p class="title">
                    <span class="aui-icon icon-success"></span>
                    <strong>$action.getText("bearychat.action.success.spaceconfig")</strong>
                </p>
            </div>
        <!-- .aui-message -->
        #end
    <p>
        Confluence will notify a BearyChat channel when a blog/page is created/trashed/deleted/restored, comment is created. Enter the BearyChat channel to be notified below.
    </p>

    <div class="field-group">
        <label for="webhookUrl">Webhook URL</label>
        <input id="webhookUrl" class="text long-field" type="text" name="webhookUrl" value="$!action.webhookUrl">
    </div>

    <div class="field-group">
        <label for="channels">Channel Name(without #)</label>
        <input id="channels" class="text long-field" type="text" name="channels" value="$!action.channels"/>
    </div>

    <div class="field-group">
        <label for="enabled">Enable Notification</label>
        <select name="enabled">
            <option value="false">Disable</option>
            <option value="true" #if($action.enabled) selected="selected" #end>Enable</option>
        </select>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save"/>
            <a class=="cancel" href="">Cancel</a>
        </div>
    </div>
</form>
</body>
</html>
#end
#end
